#login{
	color: white;
	font-family: calibri, arial;
}
body{
	background: linear-gradient(to bottom right, #663300, #cc9900) no-repeat;
}
#wrapper{
	padding: 10px;
	width: 350px;
	margin: auto;
	text-align: center;	
}
h1{
	font-family: cambria;
}
.login{
	margin: 119px 0;
}
.login p{
	font-size: 0.8em;
}
input, select{
	margin-top: 10px;
	border-radius: 5px;
}
input{
	width: 250px;
}
select{
	width: 270px;
	color: white;
}
option{
	color: black;
}
input::placeholder{
	color: rgba(255, 255, 255, 0.5);
}
input#user, input#pass, select#mail{
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	border-collapse: 10%;
	padding: 10px;
}
input#login, button{
	width: 270px;
	padding: 10px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
input#login:hover, input#login:active, button:hover, button:active{
	background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-device-width: 480px){
	#wrapper{
		width: 300px;
		padding: 0;
	}
	.login{
		margin: 50px 0;
	}
}
@media screen and (min-height: 700px){
	.login{
		margin: 165px 0;
	}
}